<div class="jr-dashboard-container">
    <h1><a href="https://portal.hafner-gruppe.com/jobrouter" target="_blank">Neuer JobRouter</a></h1>
    <p>Dieser JobRouter wird bald abgeschaltet. Die Prozesse und Vorgänge werden übernommen oder ersetzt. Der Urlaubsantrag muss ab jetzt über das neue System gestartet werden. Weitere Informationen folgen.
    </p>
    <p><a href="https://portal.hafner-gruppe.com/jobrouter" target="_blank">https://portal.hafner-gruppe.com/jobrouter</a> - der neue ist blau</p>
</div>